.DS_Store
.project
.classpath
.settings
lib
target
build
*.iml
*.ipr
*.iws
*.log
nbproject
Thumbs*
build.xml
catalog.xml
.idea
out
/facets-spring3-freemarker/profiles.xml
/facets-spring3-freemarker/nb-configuration.xml
/facets-spring3-freemarker/src/main/webapp/META-INF/context.xml
/facets-spring3-freemarker/src/main/webapp/WEB-INF/classes/templates/.redcar/
/facets-spring3-freemarker/src/test/resources/templates/.redcar/