.DS_Store
.project
.classpath
.settings
lib
target
build
classes
*.iml
*.ipr
*.iws
*.log
nbproject
Thumbs*
build.xml
catalog.xml
.idea
out
/facets-spring3-freemarker/profiles.xml
/facets-spring3-freemarker/nb-configuration.xml
