/* 
    Document   : publications
    Created on : 05-Jan-2011, 13:11:37
    Author     : cmcpb
    Description:
        Used for creating the publication listing on my research and my department pages
*/

.combiGraphAndList .fig
{
    height: 100px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom:1em;
}

.combiGraphAndList .slider-container .slider-outer
{
    width: 100%;
    float: left;
    margin-right: -80px;
}

.combiGraphAndList .slider-container .slider-inner
{
    margin-right: 80px;
}

.combiGraphAndList .slider-container .slider-range
{
    margin-left: 80px;
}

.combiGraphAndList .slider-container input
{
    width: 60px;
	height:20px;
	text-align:center;
    color:#f6931f;
    padding:0px;
    margin:0px;
    border:1px solid #B3B3B3;
	background-color:#F2F2F2;
}

.combiGraphAndList .slider-container .valueLeft
{
    float: left;
}

.combiGraphAndList .slider-container .valueRight
{
    float: right;
}

.clearing
{
  height: 0;
  clear: both;
}

.combiGraphAndList .results .controls
{
    text-align:center;
}

.combiGraphAndList .results .controls .prev, .combiGraphAndList .results .controls .next
{
    color:blue;
    text-decoration:underline;
    padding:0.2em;
    cursor:pointer;
    border:1px solid lightblue;
}


.combiGraphAndList .resultstotal
{
    color:#888;
}

.combiGraphAndList .results .body
{
    border:1px solid #ccc;
    padding:0.6em;
    margin-top:1em;
    margin-bottom:1em;
}

.results .title
{
    text-decoration: underline;
}

.results .citation
{
    display:block;
    color:#555;
    font-style:italic;
}

.slider-outer .ui-slider-horizontal
{
	margin-top:5px;
}

.slider-outer .valueLeft
{
	margin-top:-4px;
}
